* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #292a3c;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-weight: normal;
}

        .dark-content {
            background-color: #353535;
            color: #ffffff;
        }

        .light-content {
            background-color: #ffffff;
        }

        .dark-content,
        .light-content {
            padding: 1.5rem;
            margin: 0.5rem;
            padding-bottom: 0;
        }

        .round-border {
            border-radius: 10px;
        }

        .d-flex {
            display: flex;
        }

        .flex-fill {
            -ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important;
        }

        .w-100 {
            width: 100%;
        }

        .w-80 {
            width: 80%;
        }

        .w-75 {
            width: 75%;
        }

        .w-60 {
            width: 60%;
        }

        .w-50 {
            width: 50%;
        }

        .w-40 {
            width: 40%;
        }

        .w-25 {
            width: 25%;
        }

        .text-center {
            text-align: center;
        }

        .bar-border {
            border: 1px solid #e5e5e5;
            max-height: 15px;
        }

        .bar-content {
            background-color: gray;
            height: 15px;
            background: #2193b0;
            background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
            background: linear-gradient(to right, #6dd5ed, #2193b0);
        }

        .bar-border,
        .bar-content {
            border-radius: 10px;
        }

        div#languages p {
            margin-right: 0.5rem;
        }

        div#languages label,
        div#skills label {
            margin: 1rem 0rem;
        }

        .item-center {
            align-items: center;
        }

        .profile-image {
            width: 200px;
            border-radius: 50%;

            background: linear-gradient(315deg, #37d5d6 0%, #36096d 75%);
            padding: 10px;
        }

        div#professionalProfile,
        div#contentImage {
            margin: 0.5rem;
            padding: 1.5rem;
            color: #ffffff;
        }

        .tag-info {
            background: #ffff;
            color: #000;
            border-radius: 20px;
            margin-left: 10px;
            padding: 10px;
        }

        div#phoneContent,
        div#socialNetworks,
        div#emailContent,
        div#locationContent {
            align-items: center;
        }

        .contact-info-image {
            background: linear-gradient(315deg, #37d5d6 0%, #36096d 75%);
            padding: 5px;
            border-radius: 50%;
            margin: 0px 5px;
        }

        ul {
            margin-top: 2rem;
        }

        ul li {
            margin: 0rem 2rem 2rem 2rem;
        }

        div#educationInfo,
        div#experience,
        div#certificates {
            flex-direction: column;
            margin-bottom: 0.5rem;
        }

        .title-tag {
            padding: 10px 40px;
            background: #2193b0;
            background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
            background: linear-gradient(to right, #6dd5ed, #2193b0);
            border-radius: 20px;
            color: #ffffff;
            text-align: center;
        }
